body {
    background-color: rgb(9, 17, 26);
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    max-width: 600px !important;
    margin-right: auto;
    margin-left: auto;
    grid-template-rows: repeat(1, 1fr);
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#app {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-image: url("/public/images/background-1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -1;
    margin: 3px;
}

#add-subtract {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    opacity: .7;
}

#logo {
    width: 100px;
    margin-top: 20px;
}

#track-area {
    height: 300px;
    width: 300px;
    color: white;
    background-image: url("/public/images/Moonrollers-Tracker-Token-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    align-items: center;
    justify-items: center;
}

#prestige {
    font-size: 100px;
    font-weight: bold;
    align-self: end;
    margin-bottom: -65px;
}

#hazard {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    background-image: url("/public/images/Hazard-symbol-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 15px;
    margin-top: 15px;
}

#hazard-count {
    font-size: 32px;
    align-self: end;
    margin-bottom: -10px;
    margin-top: 10px;
    color: #C43C3C;
}

#tokens {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-self: start;
    margin-bottom: 50px;
}

.token {
    width: 100%;
}

.count {
    font-size: 24px;
    text-align: center;
    color: white;
}

#reset {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.rotate {
    animation: rotation 1.5s cubic-bezier(.3, .9, .4, 1.2);
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(60deg); }
    25%  { transform: rotate(58deg); } /* slight mechanical wobble */
    50%  { transform: rotate(180deg); }
    70%  { transform: rotate(260deg); }
    75%  { transform: rotate(255deg); } /* wobble */
    100% { transform: rotate(360deg); }
}

.pressed {
    animation: press 0.3s ease;
}

@keyframes press {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(0.9); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}