body {
    background-color: rgb(9, 17, 26);
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    max-width: 600px !important;
    margin-right: auto;
    margin-left: auto;
    grid-template-rows: repeat(1, 1fr);
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#app {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-image: url("/public/images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -1;
}

#logo {
    width: 100px;
    margin-top: 20px;
}

#track-area {
    height: 300px;
    width: 300px;
    color: white;
    background-image: url("/public/images/Moonrollers-Tracker-Token-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    align-items: center;
    justify-items: center;
}

#prestige {
    font-size: 100px;
    font-weight: bold;
    align-self: end;
    margin-bottom: -65px;
}

#hazard {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}

#hazard-count {
    font-size: 38px;
    padding: 0;
    margin: 0;
    background-image: url("/public/images/Hazard-symbol-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}

#tokens {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-self: start;
    margin-bottom: 50px;
}

.token {
    width: 100%;
}

.count {
    font-size: 24px;
    text-align: center;
    color: white;
}

#reset {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}